rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /public/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
// rule change: Sat Jul 26 19:34:05 UTC 2025
// rule change: Sat Jul 26 19:37:10 UTC 2025
// rule change: Sat Jul 26 19:42:44 UTC 2025
// rule change: Sat Jul 26 19:45:16 UTC 2025
// rule change: Sun Jul 27 12:21:41 UTC 2025
// rule change: Tue Jul 29 12:25:06 UTC 2025
